#bobotTable td,
#normalisasiBody td,
#optimasiBody td,
#yiTable td,
#mooraMatriksBody td{ vertical-align:middle; }
#bobotTable td:nth-child(1),
#yiTable td:nth-child(1){
    font-weight:bold;
    color:#145A32;
}
#normalisasiBody td,
#optimasiBody td{
    font-size:13px;
}
#mooraMatriksBody td{ font-weight:500; }
.dashboard-card{ overflow-x:auto; }
@media(max-width:768px){
    #bobotTable,
    #normalisasiBody,
    #optimasiBody,
    #yiTable,
    #mooraMatriksBody{ font-size:12px; }
}